.container {
  width: clamp(300px, 90%, 900px);
}

.top_section {
  display: inline-flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  gap: 30px;
  margin-top: 40px;
  width: 100%;
}
.bottom_section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  width: 100%;
}
.images_container {
  width: 70%;
  height: 100%;
  max-height: 600px;
  background-color: black;
}

/* image gallery style customize */
.image-gallery-content {
  position: relative;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 500px !important;
}

.image-gallery-thumbnails {
  padding-left: 1rem;
  padding-right: 1rem;
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-top: 1px solid var(--tg-theme-third-bg-color);
  backdrop-filter: blur(5px);
}

.info {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--tg-theme-third-bg-color);
}
.header {
  /* font-size: 1.3rem; */
  font-size: 1rem;
  font-weight: 700;
  color: var(--tg-default-third-text);
  text-transform: capitalize;
  padding-bottom: 1rem;
}
/* banner section style */
.main_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  /* height: 100%; */
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
}
.tag-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
}
.tag-content {
  display: flex;
  justify-content: space-between;
  color: var(--tg-theme-hint-color);
}
.tag-title {
  font-weight: 700;
  color: var(--tg-theme-hint-color);
  text-transform: uppercase;
}
.tag-link {
  padding-right: 1rem;
}
.tag-follow {
}

.post-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-header {
  display: flex;
  justify-content: space-between;
  color: var(--tg-theme-hint-color);
  padding-bottom: 0.8rem;
}
.post-date {
}
.post-follow {
  display: flex;
  gap: 0.3rem;
  margin: auto;
}
.post-follow-number {
  font-weight: 700;
}
.post-body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.post-title {
  /* font-size: 1.5rem; */
  font-size: 1.5rem;
  font-weight: 700;
}
.post-locate {
  text-transform: uppercase;
}
.post-price {
  color: var(--market-theme-bg-color);
  font-size: 1.3rem;
  font-weight: 700;
}
.user-content {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.avatar-content {
  display: flex;
  background-color: var(--tg-theme-third-bg-color);
  color: var(--tg-default-third-text);
  font-weight: 700;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.detail-content .user-name {
  font-weight: 600;
  text-transform: capitalize;
}
.detail-content .user-rate {
  font-weight: 600;
}

/* summary section style */
.summary_info {
  display: flex;
  flex-direction: column;
}
.summary-header {
}
.summary-section {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.summary-section .summary-body {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 1rem;
}
.summary-section .summary-body .summary-key {
  width: 50%;
  color: var(--tg-default-third-text);
}
.summary-section .summary-body .summary-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* description section style */
.detailed_info {
}

/* advertiser section style */
.advertiser_info {
  border-bottom: none;
}
.advertiser_info .advertiser-section {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--tg-theme-third-bg-color);
  padding: 1.5rem 1.5rem;
  gap: 25px;
}
.advertiser_info .advertiser-section .user-info-section {
  display: flex;
  width: 50%;
  gap: 2rem;
}
.advertiser_info .advertiser-section .user-info-section .avatar-content {
  margin-top: 0;
}
.advertiser_info .advertiser-section .advertiser-content {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  width: 50%;
  gap: 10%;
}
.advertiser_info
  .advertiser-section
  .advertiser-content
  .advertiser-body-header {
  color: var(--market-theme-bg-color);
  font-weight: 700;
  /* font-size: 1.1rem; */
  font-size: 0.9rem;
}

/* sponsors section style */
.sponsors_info {
  border-bottom: none;
}
.sponsors_info .sponsors-section {
  width: 100%;
  border: 1px solid var(--tg-theme-third-bg-color);
  padding: 1.5rem 1.5rem;
}
.sponsors_info .sponsors-section .user-info-section {
  display: flex;
  width: 50%;
  gap: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top_section {
    flex-direction: column;
    justify-content: space-between;
  }
  .images_container {
    width: 100%;
  }
  .main_info {
    width: 100%;
  }
  .main_info .main-content {
    padding-bottom: 2rem;
  }
  .bottom_section .summary_info .summary-section {
    flex-direction: column;
  }
  .bottom_section .summary_info .summary-section .summary-body {
    width: 100%;
    padding-bottom: 1rem;
  }

  .advertiser_info .advertiser-section {
    flex-direction: column;
  }
  .advertiser_info .advertiser-section .user-info-section {
    width: 100%;
    padding-bottom: 1rem;
  }
  .advertiser_info .advertiser-section .advertiser-content {
    width: 100%;
    padding-bottom: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top_section {
    flex-direction: column;
  }
  .images_container {
    width: 100%;
  }
  .main_info {
    width: 100%;
  }
  .main_info .main-content {
    padding-bottom: 2rem;
  }

  .bottom_section .summary_info .summary-section {
    flex-direction: column;
  }
  .bottom_section .summary_info .summary-section .summary-body {
    width: 100%;
    padding-bottom: 1rem;
  }

  .advertiser_info .advertiser-section {
    flex-direction: row;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top_section {
    flex-direction: row;
  }
  .images_container {
    width: 70%;
  }
  .main_info {
    width: 30%;
  }
  .main_info .main-content {
    padding-bottom: 2rem;
  }

  .bottom_section .summary_info .summary-section {
    flex-direction: row;
  }
  .bottom_section .summary_info .summary-section .summary-body {
    width: 50%;
    padding-bottom: 1rem;
  }

  .advertiser_info .advertiser-section {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
