.listings_area {
  width: clamp(300px, 90%, 1000px);
  margin: "0px";
  text-align: "center";
}

.empty {
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.btn_new_post {
  color: var(--tg-theme-button-text-color, #ffffff);
  background-color: var(--tg-theme-button-color, #40a7e3);
  font-family: "Open Sans";
}

.card_skeleton {
  width: clamp(300px, 90%, 1000px);
  height: clamp(200px, 90%, 450px);
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 60px;
  margin-block: 20px;
}
